<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/character-list" />
    </ion-buttons>
    <ion-title> {{name()}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/character-list" />
      </ion-buttons>
      <ion-title size="large"> {{name()}} </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-content>
      @let image = thumbnail();
      <ion-avatar>
        <img
          [src]="image"
          [alt]="name()"
          (load)="onLoadImage()"
          [ngClass]="{ hidden: loadingImage() }"
        />
        @if (loadingImage()) {
        <ion-skeleton-text [animated]="true" /> }
      </ion-avatar>

      @for (item of characterDetails(); track $index) {
      <ion-item>
        <ion-label> {{ item.name | translate }} </ion-label>
        <ion-badge> {{ item.count }} </ion-badge>
      </ion-item>
      }
    </ion-card-content>
  </ion-card>
</ion-content>
